.c3{float: left;
	background-color: aqua;
	width: 25%;
}
.c2{
	
	height: 8%;
}

.c4{float: left;
	background-color: aqua;
	width: 25%;}
.c5{float: left;
	background-color: aqua;
	width: 25%;}
.c6{float: left;
	background-color: rgb(49,216,152);
	width: 25%;}
h1{
	font-family: fantasy;
	text-decoration-style: double;
}